@page "/"
@using BlazorFullStackCrud.Shared.Common;
@inject ToastService toastService

<PageTitle>Index</PageTitle>

<h3>Hello, world!</h3>

<h5>Welcome to web app for managing sales order data.This app includes a database created using Code First in Entity Framework, with test data for orders, windows, and sub-elements. The app interface allows users to view and edit order data, including the order state, name, and dimensions. Users can also add and remove windows and sub-elements from orders.</h5>



